.hidden{
    display: none;
}

*{
    border: none;
    padding: 0;
    margin: 0;
}


body{
    background:linear-gradient(to top,#fff,#8155EA);
    min-height: 100vh;
}

#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 180px;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    > #logo {
        > img {
            position: relative; 
            left: 0;
            top: 0;
            width: 100px;
            height: auto;
        }
    }
    
    > #etc {
        > button {
            color:white;
            background-color:rgba(0,0,0,0);
            border:none;
            font-size: 22px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}


main{
    margin: 0 auto;
    width: 70%;
    >div:first-child{
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        >img{
            width: 500px;
            height: auto;
        }
    }
    >div:nth-child(2){
        margin-right: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        > ul{
            display: flex;
            > li{
                cursor: pointer;
                color: white;
                font-weight: 500;
                font-size: large;
                list-style: none;
                margin-left: 10px;
            }
        }
        >span{
            color: white;
            font-weight: 500;
            font-size: large;
            >span{
                color: black;
            }
        }
    }
    >div:nth-child(3){
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        > button{
            height: 35px;
            width: 85px;
            border-radius: 10px;
            cursor: pointer;
        }
        > form{
            display: flex;
            justify-content: flex-end;
            > select{
                width: 70px;
                border-radius: 10px;
            }
            >input{
                margin-left: 5px;
                border-radius: 10px;
                width: 200px;
                height: 35px;
            }
            >button{
                background: none;
                cursor: pointer;
                >img{
                    width: 35px;
                    height: auto;
                }
            }
        }
    }
    
    > article{
        margin-top: 20px;
        > #posthome{
            display: flex;
            flex-direction: column;
            > #nothing{
                width: 100%;
                height: 250px;
                background-color: white;

                text-align: center;
                line-height:250px;
                font-size: x-large;

            }
            > li{
                list-style: none;
                width:100%;
                height:80px;
                border-style: solid;
                border-color: #8155EA;
                border-width: 0 0 5px 0;
                background-color: #fff;
            }
            >li:first-child{
                border-style: solid;
                border-color: #8155EA;
                border-width: 5px 0 5px 0;
            }
        }
        > #pagenumber{
            margin-top: 10px;
            display: flex;
            justify-content: center;
            > li{
                font-size: large;
                cursor:pointer;
                list-style: none;
                margin-left: 18px;
                > button{
                    background: none;
                    cursor: pointer;
                }
            }
        }
    }
}


.topic {
    color: black !important;
}

footer{
    position : relative;
    >div{
        width: 100%;
        height: 180px;
        background-color: rgb(35, 35, 35);
        display: flex;
        justify-content: flex-start;
        >img{
            margin: 10px;
            width: 150px;
            height: auto;
        }
        > div{
            display: flex;
            align-items: center;
            line-height: 30px;
            color: white;
            font-size: larger;
        }
        
    }
}
