.hidden{
    display: none;
}

*{
    border: none;
    padding: 0;
    margin: 0;
}

body{
    background:linear-gradient(to top,#fff,#8155EA);
    min-height: 100vh;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    > #logo {
        > img {
            position: relative; 
            left: 0;
            top: 0;
            width: 100px;
            height: auto;
        }
    }
    
    > #etc {
        > button {
            color:white;
            background-color:rgba(0,0,0,0);
            border:none;
            font-size: 22px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.title_area {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
    margin-left: 20px;
}
.title label {
    font-size: 24px;
    margin-right: 50px;
}

.option_area input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.attach label {
    font-size: 12px;
    margin-right: 10px;
}

.attach input[type="file"] {
    border: none;
    background-color: #8155EA;
}

form {
    margin-top: 20px;
}

form p {
    text-align: center;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    height: auto;
}

form input[type="submit"] {
    background-color: #ffffff;
    color: #8459EA;
    font-weight: bold;
    border-color: #8459EA;
    border-style: solid;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #D4C5F9;
}