<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHT_cloud</title>
    <link rel="stylesheet" href="../static/css/writing.css">
</head>

<body>
    <header>
        <div id="logo">
            <img src="{{ url_for('static', filename='img/CHT_logo.png') }}" alt="NaN">
            <span></span>
        </div>

        <div id="etc">
            <button>POSTING</button>
            {% if login %}
            <button>LOG OUT</button>
            {% else %}
            <button>LOGIN</button>
            {% endif %}
        </div>
    </header>
    <main>
        <form method="post" action="/writing" enctype="multipart/form-data">
            <div class="title_area">
                <strong class="title">
                    <label for="subject_title">Title</label>
                </strong>
                <div class="option_area">
                    <input type="text" name="Title">
                </div>
            </div>
            <div class="attach_area">
                <strong class="attach">
                    <label for="attachment">Attach File</label>
                    <input type="file" name="File">
                </strong>
            </div>
            <div class="content_area">
                <strong class="content">
                    <label for="contents">Content</label>
                </strong>
                <textarea id="editableContent" name="Content"></textarea>
            </div>
            <div class="button_area">
                <input type="submit" name="Back" value="Back" onclick="alert('back to list')">
                <input type="submit" name="Post" value="Post" onclick="alert('Complete')">
            </div>
        </form>
    </main>
    
    </main>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="../static/js/writing.js"></script>
</body>

</html>